    <div class="p-4 chat-message-list chat-group-list" data-simplebar>
        <ul class="list-unstyled chat-list">
            
                <li>
                    <a href="#">
                        <div class="media align-items-center">
                            <div class="chat-user-img mr-3">
                                <div class="avatar-xs">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                        G
                                    </span>
                                </div>
                            </div>
                            <div class="media-body overflow-hidden">
                                <h5 class="text-truncate font-size-14 mb-0">#General</h5>
                            </div>
                        </div>
                    </a>
                </li>

            
           
        </ul>
    </div>